<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scm.dao.ShopProductInfoMapper">
	<resultMap id="BaseResultMap" type="com.scm.po.ShopProductInfo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="shop_id" property="shopId" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="cost" property="cost" jdbcType="DECIMAL" />
		<result column="budget_cost" property="budgetCost" jdbcType="DECIMAL" />
		<result column="price" property="price" jdbcType="DECIMAL" />
		<result column="state" property="state" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, shop_id, name, cost, budget_cost, price, state,
		create_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from shop_product_info
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		shop_product_info
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.scm.po.ShopProductInfo"
		useGeneratedKeys="true" keyProperty="id">
		insert into shop_product_info (id,
		shop_id, name,
		cost, budget_cost, price,
		state, create_time)
		values
		(#{id,jdbcType=INTEGER}, #{shopId,jdbcType=INTEGER},
		#{name,jdbcType=VARCHAR},
		#{cost,jdbcType=DECIMAL},
		#{budgetCost,jdbcType=DECIMAL}, #{price,jdbcType=DECIMAL},
		#{state,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.scm.po.ShopProductInfo"
		useGeneratedKeys="true" keyProperty="id">
		insert into shop_product_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="shopId != null">
				shop_id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="cost != null">
				cost,
			</if>
			<if test="budgetCost != null">
				budget_cost,
			</if>
			<if test="price != null">
				price,
			</if>
			<if test="state != null">
				state,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="shopId != null">
				#{shopId,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="cost != null">
				#{cost,jdbcType=DECIMAL},
			</if>
			<if test="budgetCost != null">
				#{budgetCost,jdbcType=DECIMAL},
			</if>
			<if test="price != null">
				#{price,jdbcType=DECIMAL},
			</if>
			<if test="state != null">
				#{state,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.scm.po.ShopProductInfo">
		update shop_product_info
		<set>
			<if test="shopId != null">
				shop_id = #{shopId,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="cost != null">
				cost = #{cost,jdbcType=DECIMAL},
			</if>
			<if test="budgetCost != null">
				budget_cost = #{budgetCost,jdbcType=DECIMAL},
			</if>
			<if test="price != null">
				price = #{price,jdbcType=DECIMAL},
			</if>
			<if test="state != null">
				state = #{state,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.scm.po.ShopProductInfo">
		update
		shop_product_info
		set shop_id = #{shopId,jdbcType=INTEGER},
		name =
		#{name,jdbcType=VARCHAR},
		cost = #{cost,jdbcType=DECIMAL},
		budget_cost =
		#{budgetCost,jdbcType=DECIMAL},
		price = #{price,jdbcType=DECIMAL},
		state = #{state,jdbcType=INTEGER},
		create_time =
		#{createTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<!-- Self Data Start -->
	<select id="selectProductList" parameterType="com.scm.po.ShopProductInfo"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from shop_product_info
		where state!=-1
		<if test="name!=null and name!=''">
			and name like
			concat(concat('%',#{name,jdbcType=VARCHAR}),'%')
		</if>
		<if test="shopId != null">
			and shop_id = #{shopId,jdbcType=INTEGER}
		</if>
		<if test="state!=null">
			and state = #{state,jdbcType=INTEGER}
		</if>
		order by create_time,state desc
	</select>

	<update id="updateBudgetCostAndCostByProductId" parameterType="java.lang.Integer">
		UPDATE
		shop_product_info a
		SET
		a.budget_cost =
		(SELECT
		IFNULL(SUM(b.material_total_money), 0)
		FROM
		shop_product_material_realtion b
		WHERE b.product_id =
		#{id,jdbcType=INTEGER}
		GROUP BY b.product_id)
		, a.cost=a.budget_cost
		WHERE a.id =
		#{id,jdbcType=INTEGER}
	</update>
	<!-- Self Data End -->
</mapper>